* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.471) 60%,
    rgba(255, 255, 255, 0.175),
    black 180%
  );
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  backdrop-filter: blur(18px);
}
#container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  max-width: 400px;
  padding: 1rem;
  background: rgb(0, 0, 0, 0.1);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  height: max-content;
}
.logo {
  box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.4);
  margin: 0 auto;
  width: max-content;
  padding: 5px;
  border-radius: 8px;
  opacity: 0.6;
  margin-top: 10px;
}

.logo i {
  font-size: 50px;
}
h1:first-of-type {
  font-weight: 400;
  font-size: 25px;
  margin-block: 10px;
}

p {
  color: #ffffff81;
}
.p-logo a {
  text-decoration: none;
  opacity: 1;
}
a {
  color: white;
  text-underline-offset: calc(2px);
  text-decoration-thickness: 0.3px;
}
form {
  display: flex;
  flex-direction: column;

  margin-block: 15px;
  width: calc(80% - 2rem);
}

.email,
.mdp {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-block: 10px;
}
input {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: white;
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 20px;
  text-align: center;
}
input::placeholder {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  text-align: center;
}
.i-mdp p {
  margin-block: 5px;
  font-size: 13px;
  margin-right: 30px;
  opacity: 1;
}
.fa-circle-xmark {
  opacity: 0;
  color: red;
}
.mdp input:valid ~ .i-mdp i {
  color: rgb(6, 245, 6);
}
.email input:valid ~ .i-email i {
  color: rgb(6, 245, 6);
}
.mdp input:invalid ~ .i-mdp .fa-circle-check {
  opacity: 0;
}
.email input:invalid ~ .i-email .fa-circle-check {
  opacity: 0;
}
.mdp input:invalid:not(:placeholder-shown) ~ .i-mdp .fa-circle-xmark {
  color: red;
  opacity: 1;
}
.mdp input:invalid:not(:placeholder-shown) ~ .i-mdp p {
  color: rgba(255, 0, 0, 0.559);
  width: 100%;
}
.email input:invalid:not(:placeholder-shown) ~ .i-email i {
  opacity: 1;
  color: red;
}
input:invalid:not(:placeholder-shown) {
  border-color: rgba(255, 0, 0, 0.497);
}

form:has(input:valid):not(:has(input:invalid)) .btn button {
  opacity: 1;
}
.mdp {
  position: relative;
}
.email i {
  position: absolute;
  display: flex;
  right: 3%;
  top: 30%;
}

.mdp i {
  position: absolute;
  display: flex;
  right: 3%;
  top: 20%;
}

.btn {
  width: 100%;
}
.btn button {
  opacity: 0.5;
  /* pointer-events: none; */
}

.btn button:hover{
  transform: scale(0.98);
}
button {
  width: 100%;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.858);

  color: black;
  font-weight: 400;
  font-size: 18px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.6;
  text-align: center;
  margin-block: 10px;
}
.or-hr {
  text-align: center;
  position: relative;
  margin-block: 10px;
  font-size: 17px;
  opacity: 0.6;
}
.or-hr::after {
  content: " ";
  position: absolute;
  height: 1px;
  width: 50%;
  background: #ffffff;
  top: 55%;
  left: 55%;
  opacity: 0.2;
}
.or-hr::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 50%;
  background: #ffffff;
  top: 55%;
  right: 55%;
  opacity: 0.2;
}
footer {
  width: calc(90% - 2rem);
}

footer button {
  font-size: 16px;
  background: transparent;
  color: rgba(252, 248, 248, 0.684);
  font-weight: 400;
}

button:hover {
  transform: scale(0.9);
}

footer p {
  font-size: 14px;
  margin-block: 10px;
  width: 100%;
  line-height: 1.5;
  text-align: center;
}

footer a {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  #container {
    max-width: 80%;
    padding: 2rem;
  }
  body {
    padding: 5rem;
    height: auto;
  }
  form {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 2rem;
    height: auto;
  }

  h1:first-of-type {
    font-size: 1.2rem;
  }

  input {
    font-size: 0.9rem;
  }
}
